

.container {
   background-color: rgb(207, 207, 207);
}

.text-size {
    font-size: 24px;
}

#contact-container {
    background-color: transparent;
}

#text-size {
    font-size: 32px;
}

.card-body {
    background-color: rgb(207, 207, 206);
}


